<h1>Listing messages</h1>

<table>
  <tr>
    <th>Is read</th>
    <th>Todo list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.is_read %></td>
    <td><%= message.todo_list %></td>
    <td><%= link_to 'Show', [message.todo_list, message] %></td>
    <td><%= link_to 'Edit', edit_todo_list_message_path(message.todo_list, message) %></td>
    <td><%= link_to 'Destroy', [message.todo_list, message], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_todo_list_message_path(params[:todo_list_id]) %>
