<div class="w-full h-screen bg-green-500 flex flex-col items-center pt-10">
  <h1 class="text-3xl text-white mt-6">Sign Up</h1>

  <div class="card-size bg-gray-800 flex flex-col items-center pt-8 rounded">
    <div class="w-1/2 h-3/4 pt-10 text-white">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "text-black pl-2 rounded mt-2 w-full h-8" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", :class => "text-black pl-2 rounded mt-2 w-full h-8" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "text-black pl-2 rounded mt-2 w-full h-8" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Sign up", class: "px-4 py-1 border-2 border-green-500 bg-transparent cursor-pointer mb-2 hover:bg-green-500 hover:text-gray-100" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
